#Simple IPSEC Config 
#All configuration fields must have the exactly number of bytes/bits specified in IKE/IPSec RFC headers
#If any field is not configured, then simpleIpsec sends default value.
#Support a single remote peer configuration for now

reflect_mode = true
ike = {
	main_mode = {
		mm_responder_1 = {
			#initiator_spi = 0x2222222222222222L;
			responder_spi = 0x1111111111111111L;
			next_payload = 0x1;
			version = {
				 majorVersion = 0x1;
				 minorVersion = 0x0;
				}
			exchange_type = 0x2;
			flags = {
				encryption = 0x0;
				commit = 0x0;
				authentication = 0x0;
				}
			message_id = 0x00000000;
			#length = 250;
			
			payload = ({
				next_payload = 0x0;
				reserved = 0x0;
				payload_length = 56;
				domain_of_interpretation = 0x1;
				
				situation = {
					identity = 0x1;
					secrecry = 0x1;
					integrity = 0x1;
					}
				
				proposal = ({
					next_payload = 0;
					reserved = 1;
					length = 44;
					proposal_number = 0;
					protocol_id = 1;
					spi_size = 0;
					proposal_transform = 1;
				
					transform = ({
						next_payload = 0;
						reserverd = 0;
						length = 36;
						transform_number = 0;
						transform_id = 1;
						reserved2 = 0;
						ike_attribute = (
						{
							type = 0x800b;
							value = 0x01;
						},
						{
							type = 0x800c;
							value = 0x0e10;
						},
						{
							type = 0x800b;
							value = 0x01;
						},
						{
							type = 0x800b;
							value = 0x01;
						},
						{
							type = 0x800b;
							value = 0x01;
						},
						{
							type = 0x800b;
							value = 0x01;
						},
						{
							type = 0x800b;
							value = 0x01;
						}

						)
					})
				})
			}
			)
		}
	}
}
